/**
 * Styles for the Header.js component
 */

header {

}

.navbar-brand {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 0.9rem;
}

.dropdown-item {
  &, a {
    color: #4666FF;
    text-decoration: none !important;
  }

  .active, &:active {
    &, a {
      color: #fff;
    }
  }
}
